<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.avance">


    <uses-sdk android:minSdkVersion="8"></uses-sdk>



    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".controller.PresentacionActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".controller.SintaxisActivity"></activity>

        <activity android:name=".controller.MyMenu"></activity>

        <activity android:name=".controller.PreferenciasActivity"></activity>
        <activity android:name=".controller.SeleccionPreferenciasActivity"></activity>
        <activity android:name=".controller.Registro"></activity>
        <activity android:name=".controller.Examen1"></activity>
        <activity android:name=".controller.Examen2"></activity>
        <activity android:name=".controller.Examen3"></activity>
        <activity android:name=".controller.Examen4"></activity>
        <activity android:name=".controller.Examen5"></activity>
        <activity android:name=".controller.Examen6"></activity>
        <activity android:name=".controller.Examen7"></activity>
        <activity android:name=".controller.Examen8"></activity>
        <activity android:name=".controller.Examen9"></activity>
        <activity android:name=".controller.Examen10"></activity>
        <activity android:name=".controller.Examen11"></activity>
        <activity android:name=".controller.Examen12"></activity>
        <activity android:name=".controller.Examen13"></activity>
        <activity android:name=".controller.Examen14"></activity>
        <activity android:name=".controller.Examen15"></activity>
        <activity android:name=".controller.Examen16"></activity>
        <activity android:name=".controller.Examen17"></activity>
        <activity android:name=".controller.Examen18"></activity>
        <activity android:name=".controller.Examen19"></activity>
        <activity android:name=".controller.Examen20"></activity>
        <activity android:name=".controller.Examen21"></activity>
        <activity android:name=".controller.Examen22"></activity>
        <activity android:name=".controller.Examen23"></activity>
        <activity android:name=".controller.Examen24"></activity>
        <activity android:name=".controller.Examen25"></activity>
        <activity android:name=".controller.Examen26"></activity>
        <activity android:name=".controller.Examen27"></activity>
        <activity android:name=".controller.Examen28"></activity>
        <activity android:name=".controller.Examen29"></activity>
        <activity android:name=".controller.Examen30"></activity>
        <activity android:name=".controller.Certificado"></activity>
        <activity android:name=".controller.SpinnerExampleActivity"></activity>
        <activity android:name=".controller.DefinicionActivity"></activity>
        <activity android:name=".controller.EventosActivity"></activity>
        <activity android:name=".controller.TablaEventosDomActivity"></activity>

        <activity android:name=".controller.CambioContrasena"></activity>

        <activity android:name=".controller.InformacionElementos2Activity"></activity>
        <activity android:name=".controller.InformacionElementosActivity"></activity>
        <activity android:name=".controller.MetodosRecorridoActivity"></activity>
        <activity android:name=".controller.MetodosUtilitariosActivity"></activity>
        <activity android:name=".controller.MetodosUtilitariosDeficionesActivity"></activity>
        <activity android:name=".controller.ObtenerInformacionActivity"></activity>
        <activity android:name=".controller.TipoMetodoActivity"></activity>
        <activity android:name=".controller.VincularEventosActivity"></activity>
        <activity android:name=".controller.AcercaActivity"></activity>
        <activity android:name=".controller.Login"></activity>
        <activity android:name=".controller.Registrarme"></activity>
        <activity android:name=".controller.Juego1"></activity>
        <activity android:name=".controller.Juego2"></activity>
        <activity android:name=".controller.Juego3"></activity>
        <activity android:name=".controller.Juego4"></activity>
        <activity android:name=".controller.Juego5"></activity>
        <activity android:name=".controller.AcertoActivity"></activity>
        <activity android:name=".controller.VideoDomActivity"></activity>
        <activity android:name=".controller.VideoActivity"></activity>
        <activity android:name=".controller.VideoEventosActivity"></activity>
        <activity android:name=".controller.VideoUtilitariosActivity"></activity>
        <activity android:name=".controller.VideoObtenerActivity"></activity>
        <activity android:name=".controller.VideoVincularActivity"></activity>
        <activity android:name=".controller.ReferenciasActivity"></activity>
        <activity android:name=".controller.GraphAChartEngineActivity"></activity>
        <activity android:name=".controller.GraphAChartEngineActivity1"></activity>
        <activity android:name=".controller.GraphAChartEngineActivity2"></activity>
        <activity android:name=".controller.GraphAChartEngineActivity3"></activity>
        <activity android:name=".controller.GraphAChartEngineActivity4"></activity>
        <activity android:name=".controller.GraphAChartEngineActivity5"></activity>
        <activity android:name=".controller.VentanaRegistrarActivity"></activity>


        <activity android:name="org.achartengine.GraphicalActivity" />


        <activity android:name="com.keyes.youtube.OpenYouTubePlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Black"></activity>


        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>